body {
  background-color: rgb(211, 194, 194);
  color: rgb(58, 78, 209);
  text-align: center;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  background-color: rgb(33, 70, 163);
  color: rgb(219, 216, 216);
  border: none;
  cursor: pointer;
}
.courses {
  background: #efeaea;
}

.course-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.course-box div {
  background: rgb(34, 61, 129);
  color: rgb(236, 232, 232);
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
}
.exams, .facilities {
  padding: 30px;
  text-align: center;
}

.exam-box, .facility-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.exam-box div, .facility-box div {
  background: rgb(34, 132, 170);
  color: rgb(234, 226, 226);
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
}
header {
  padding: 60px 20px;
}
button:hover {
  background: orange;
}
header img {
  margin-bottom: 10px;
}